# Flutter/Dart
.dart_tool/
.packages
.buildlog/
build/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
ios/Flutter/flutter_export_environment.sh
ios/Flutter/Flutter.podspec
ios/Pods/
ios/Runner.xcworkspace/
ios/Runner.xcodeproj/project.xcworkspace/
ios/Flutter/App.framework
pubspec.lock
.flutter-plugins
.flutter-plugins-dependencies

# Android
.android/
gradle/
.gradle/
local.properties

# IntelliJ related
*.iml
.idea/
*.ipr
*.iws

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log
